S3method(longest_outlier_sequence,scc_chart)
S3method(number_of_blocks,scc_chart)
S3method(number_of_outliers,scc_chart)
S3method(plot,scc_chart)
S3method(print,scc_chart)
export(autoplot.scc_chart)
export(dataframe_to_list)
export(generate_chart)
export(generate_ewma_chart)
export(generate_random_blocks)
export(longest_outlier_sequence)
export(number_of_blocks)
export(number_of_outliers)
